<%= form_with(url: "/create", method: "post", id: "add") do %>
    <table>
        <caption><h1>Таблица ввода</h1></caption>
        <tr>
            <td>Введите количество чисел</td>
            <td><%= text_field_tag :number %></td>
        </tr>
        <tr>
            <td>Выберите место преобразования</td>
            <td>
                Сервер<%= radio_button_tag(:transformer, "server", :checked) %>
                Клиент<%= radio_button_tag(:transformer, "client") %>
            </td>
        </tr>
        <tr>
            <td><%= submit_tag "Найти", id: "push" %></td>
            <td></td>
        </tr>
    </table>
<% end %>

<table id="result">
    <caption><h1>Таблица вывода</h1></caption>
    <tr>
        <td class="col">Входное число</td>
        <td class="col">Полученные числа</td>
        <td class="col">Квадрат чисел</td>
        <td class="col">Количество</td>
    </tr>
</table>
